{% extends 'base.html' %}

{% block container %}

<section class="about">
    <div class="center">
        <div class="center">
            <h2>Quem Somos</h2>
            <h6 class="txtAbout"></h6>
        </div>

        <article>
            <div class="center">
                <div class="w50 left">
                    <div class="w50 left">
                        <div>
                            <h4>Nome do Profissional</h4>
                            <p><a href="https://www.linkedin.com" target="_blank">Profissão</a></p>
                            <div><a href="https://www.linkedin.com" target="_blank">
                                    <img src="/static/img/photo1.png" title="Photo 1"></a>
                            </div>
                        </div>
                    </div>
                    <div class="w50 left">
                        <h6 class="txtPhoto1"></h6>
                    </div>
                </div>
                <div class="w50 left">
                    <div class="w50 left">
                        <div>
                            <h4>Nome do Profissional</h4>
                            <p><a href="https://www.linkedin.com" target="_blank">Profissão</a></p>
                            <div><a href="https://www.linkedin.com" target="_blank">
                                    <img src="/static/img/photo2.png" title="Photo 2"></a>
                            </div>
                        </div>
                    </div>
                    <div class="w50 left">
                        <h6 class="txtPhoto2"></h6>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </article>
    </div>
</section>

{% endblock %}