{% extends 'base.html' %}

{% block container %}

<section class="contact">
    <div class="center">
        <h2>Dados para Contato</h2>

        <p class="bold">E-mail</p>
        <p><a href="https://outlook.live.com/owa/" target="_blank" role="button">email@email.com</a></p>

        <p class="bold">Telefone</p>
        <p>+55 99 99999-9999</p>

        <p class="bold">Horário de atendimento</p>
        <p>Segunda-feira a Sexta-feira</p>
        <p>08:00hrs às 18:00hrs</p>
    </div>
</section>

{% endblock %}