<footer>
    <div class="redes-socials-icons">
        <a target="_blank" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
    </div>
    <p id="copyright"></p>
</footer>